<div class="dashboardContainer">
    <div class="personListContainer" *ngIf="persons">
        <mat-toolbar color="accent">
            <span class="mat-h2, dashboardTitle">People</span>
            <span class="dashboardSpacer"></span>
            <button mat-raised-button color="" (click)="saveNewPerson()">
                Create
                <mat-icon>add_circle</mat-icon>
            </button>
        </mat-toolbar>
        <div *ngFor="let personPreview of persons">
            <app-person-card [personPreview]="personPreview" (selectPersonEvent)="loadPerson($event)"
                (deletePersonEvent)="deletePerson($event)">
            </app-person-card>
        </div>
    </div>
    <div class="noPersonsPlaceholder" *ngIf="!persons">
        <mat-card>
            <mat-card-header class="mat-h2">Sorry</mat-card-header>
            <mat-card-content class="mat-body">Noone to display...</mat-card-content>
        </mat-card>
    </div>

    <div class="personDetailContainer" *ngIf="detailedPerson">
        <app-person [personDetail]="detailedPerson" (deletePersonEvent)="deletePerson($event)"
            (closeEvent)="closePerson()" (nameChangedEvent)="loadPeople()"></app-person>
    </div>
    <div class="personDetailContainer" *ngIf="!detailedPerson && persons"></div>

</div>