.dashboardContainer {
    display: flex;
    flex-direction: row;
}

.personListContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 1;
}

.placeholderContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.personDetailContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.noPersonsPlaceholder {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.noPersonsPlaceholder mat-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}