.controlButtonContainer {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 1rem;
}

.spacer {
    flex: 1;
}
.personToolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nameContainer {
    justify-self: flex-start;
}