.personCardContent {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
}

.personCardName {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
}

.personCardButtons {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-end;
}