<mat-card>
    <mat-card-content class="personCardContent, mat-h2">
        <div class="personCardName">
            {{ personPreview!.name }}
        </div>
        <div class="personCardButtons">
            <button mat-raised-button color="primary" (click)="selectPerson()">
                Open
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="warn" (click)="deletePerson()">
                Delete
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>
